<script src="https://kit.fontawesome.com/450dc08ccd.js" crossorigin="anonymous"></script>
</body>
<footer>
    <a href="https://github.com/nikhilverma17" target="_blank"><i class="fa-brands fa-github  fa-2xl"></i></a>
    <a href="mailto:iamvermanikhil@gmail.com" target="_blank"><i class="icon1 fa-solid fa-envelope fa-2xl"></i></a>
    <a href="https://www.linkedin.com/in/nihkil-verma-465848139/" target="_blank"><i class="icon1 fa-brands fa-linkedin fa-2xl"></i></a>
    <a href="https://twitter.com/thenikhil_verma" target="_blank"><i class="icon1 fa-brands fa-twitter fa-2xl"></i></a>
    <a href="https://www.instagram.com/thevermanikhil/" target="_blank"><i class="icon1 fa-brands fa-instagram fa-2xl"></i></a>


<br><br><br>
    <p class="p-footer"><i class="icon1 fa-solid fa-copyright fa-lg"></i><br> Nikhil Verma</p>

</footer>

</html>